@model IEnumerable<OnlineMVC.Models.Products>

@{
    ViewBag.Title = "Index";
}
<h2>Home Page</h2>
<div  align="center">

    <h2> Welcome to Online shopping</h2>
</div>
<a href="DisplayCategory">
    <input type="button" value="list of categories"/>
</a>

<div align="center" style="background-color:white;color:white">
    <img src="~/Images/icon.jpg" width="600" height="400" />
</div>

<br />


