@model OnlineMVC.Models.Login1

@{
    ViewBag.Title = "LogOut";
}
<center><h2> you have logged out successfully</h2></center>
<br /><br /><br />
<center><a href="~Online/Index"><input type="submit" value="Back to shop" class="btn btn-outline-primary"/></a></center>

